<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @audition.first_name %> <%= @audition.last_name %>!</h1>
    <p>
      <%= @audition.status_mail %>
    </p>
  </body>
</html>
